Use dbOds
GO

DELETE FROM [dbOds].[Facade].[ZOPICalculation]
GO

INSERT INTO [Facade].[ZOPICalculation] (
  _Key
, [AvailableTime]
, [BrewsActual]
, [BrewsNominal]
, [CalculationDone]
, [EndDate]
, [ExtLack]
, [ExtStop]
, [ExtStrike]
, [MannedTime]
, [MonthEfficacy]
, [MonthEfficiency]
, [MonthOpi]
, [Nona]
, [NotPlannedStop]
, [NotPlannedStopAuto]
, [NotPlannedStopMan]
, [OPIMaxTheoMon]
, [OPIMaxTheoWk]
, [PlannedBrews]
, [PlannedDown]
, [ProdTime]
, [ProgressiveEfficacy]
, [ProgressiveEfficiency]
, [ProgressiveOpi]
, [StartDate]
, [Target]
, [Week]
, [WeekEfficacy]
, [WeekEfficiency]
, [WeekOpi]
, [WorkingDays]
, [Year]
)
SELECT   _Key
, [AvailableTime]
, [BrewsActual]
, [BrewsNominal]
, [CalculationDone]
, [EndDate]
, [ExtLack]
, [ExtStop]
, [ExtStrike]
, [MannedTime]
, [MonthEfficacy]
, [MonthEfficiency]
, [MonthOpi]
, [Nona]
, [NotPlannedStop]
, [NotPlannedStopAuto]
, [NotPlannedStopMan]
, [OPIMaxTheoMon]
, [OPIMaxTheoWk]
, [PlannedBrews]
, [PlannedDown]
, [ProdTime]
, [ProgressiveEfficacy]
, [ProgressiveEfficiency]
, [ProgressiveOpi]
, [StartDate]
, [Target]
, [Week]
, [WeekEfficacy]
, [WeekEfficiency]
, [WeekOpi]
, [WorkingDays]
, [Year]
FROM [BERGAMO-SV201\PLANTIT].[dbOds].[Facade].[ZWebOPICalculation]

GO

SELECT * FROM [Facade].[ZOPICalculation]
