Use dbOds
GO

DELETE FROM [Facade].[Value]

GO
INSERT INTO [Facade].[Value](
     [_Key]
    ,[_Name]
    ,[_1stJob]
    ,[_LastJob]
    ,[Comment]
    ,[_EnterpriseKey]
    ,[_UnitKey]
    ,[_UnitClassKey]
    ,[_MaterialKey]
    ,[_BatchTypeKey]
    ,[_RecipeKey]
    ,[_ValueCategoryKey]
    ,[_BatchKey]
    ,[Batch]
    ,[_ProcessTypeKey]
    ,[_ProcessKey]
    ,[_TransferTypeKey]
    ,[_TransferKey]
    ,[UnitOfMeasurement]
    ,[ConfirmationState]
    ,[RecordingDate]
    ,[DTORecordingTime]
    ,[RecordingTime]
    ,[Value]
    ,[SetpointValueRecipe]
    ,[SetpointValueRunning]
    ,[LowerVetoLimit]
    ,[LowerLimit]
    ,[UpperLimit]
    ,[UpperVetoLimit]
    ,[NonConformityFlag]
    ,[ValueString]
    ,[SpecialRelevance]
    ,[Aggregation]
    ,[Classifications]
    ,[_SampleKey]
    ,[SampleState])
SELECT  V.[_Key]
     ,V.[_Name]
     ,V.[_1stJob]
     ,V.[_LastJob]
     ,V.[Comment]
     ,V.[_EnterpriseKey]
     ,V.[_UnitKey]
     ,V.[_UnitClassKey]
     ,V.[_MaterialKey]
     ,V.[_BatchTypeKey]
     ,V.[_RecipeKey]
     ,V.[_ValueCategoryKey]
     ,V.[_BatchKey]
     ,V.[Batch]
     ,V.[_ProcessTypeKey]
     ,V.[_ProcessKey]
     ,V.[_TransferTypeKey]
     ,V.[_TransferKey]
     ,V.[UnitOfMeasurement]
     ,V.[ConfirmationState]
     ,V.[RecordingDate]
     ,V.[DTORecordingTime]
     ,V.[RecordingTime]
     ,V.[Value]
     ,V.[SetpointValueRecipe]
     ,V.[SetpointValueRunning]
     ,V.[LowerVetoLimit]
     ,V.[LowerLimit]
     ,V.[UpperLimit]
     ,V.[UpperVetoLimit]
     ,V.[NonConformityFlag]
     ,V.[ValueString]
     ,V.[SpecialRelevance]
     ,V.[Aggregation]
     ,V.[Classifications]
     ,V.[_SampleKey]
     ,V.[SampleState]
FROM [BERGAMO-SV201\PLANTIT].[dbOds].[Facade].[Value] V
INNER JOIN Ods.TransferType TT
ON TT._Key = V._TransferTypeKey
WHERE YEAR(RecordingTime) >= 2019

GO

SELECT * FROM [Facade].[Value]